node_modules
.env
.gitignore
hardhat.config.js

# Au cas où j'oublie de les supprimers des autres PC
Lock.sol
SimpleStorage.sol
Lock.js
SimpleStorage.test.js


# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Mon propre logs.txt
logs.txt
